<div th:fragment="navbar" xmlns:th="http://www.w3.org/1999/xhtml">
    <style>
        h2 {
            color: #2faf9f;
        }

        li {
            padding-left: 70px;
        }
    </style>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item active">
          <a class="nav-link" href="/">Home <span class="sr-only">(current)</span></a>
        </li>
        <li class="nav-item active">
          <a class="nav-link" href="/">Shopping List</a>
        </li>
      </ul>
      <form class="form-inline my-2 my-lg-0" action="#" th:action="@{/searchRecipe}"  method="GET">
        <input class="form-control mr-sm-2" type="search" placeholder="Search a meal ..." aria-label="Search" name="searchTerm" id="Recipe_Name">
        <button class="btn btn-outline-info my-2 my-sm-0" type="submit">Search</button>
        <input class="form-control mr-sm-2" type="hidden" placeholder="Search a meal ..." aria-label="Search"  id="Recipe_Id">
      </form>
    </div>
  </nav>
</div>