<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8" />
    <meta
            name="viewport"
            content="width=device-width, initial-scale=1, shrink-to-fit=no"
    />
    <title>Recipe Details</title>
    <link
            rel="stylesheet"
            href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
            integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm"
            crossorigin="anonymous"
    />
    <script
            src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
            integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
            crossorigin="anonymous"
    ></script>
    <script
            src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
            integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
            crossorigin="anonymous"
    ></script>
    <script
            src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
            integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
            crossorigin="anonymous"
    ></script>
    <link
            rel="stylesheet"
            href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css"
    />
    <script src="https://code.jquery.com/jquery-1.12.4.js"></script>
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
    <link rel="stylesheet" type="text/css" media="all" href="start.css" th:href="@{start.css}" />
    <script type="text/javascript">
        $(function () {
            $("#Recipe_Name").autocomplete({
                source: "recipeNameAutocomplete",
                minLength: 3,
                select: function (event, ui) {
                    this.value = ui.item.label;
                    $("#Recipe_Id").val(ui.item.value);
                    return false;
                },
            });
        });
    </script>

</head>

<body>
<div id="recipeDetail"></div>
<div th:replace="fragments/topnav :: navbar"></div>

<div class="list-group" th:each="recipe: ${recipes}">
    <p List oF Ingredients ></p>
    <div class="list-group" th:each="ingredient : ${recipe.ingredients}">
        <p th:text="${ingredient}"/>
    </div>
    <p th:text="${recipe.instructions}"/>
    <img th:src="${recipe.image}" alt="Didn't choosed the image" width="300" height="300">
</div>

</body>
</html>