<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8" />
    <meta
            name="viewport"
            content="width=device-width, initial-scale=1, shrink-to-fit=no"
    />
    <title>Meal Mentor</title>
    <link
            rel="stylesheet"
            href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
            integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm"
            crossorigin="anonymous"
    />
    <script
            src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
            integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
            crossorigin="anonymous"
    ></script>
    <script
            src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
            integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
            crossorigin="anonymous"
    ></script>
    <script
            src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
            integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
            crossorigin="anonymous"
    ></script>
    <link
            rel="stylesheet"
            href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css"
    />
    <script src="https://code.jquery.com/jquery-1.12.4.js"></script>
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
    <link rel="stylesheet" type="text/css" media="all" href="start.css" th:href="@{start.css}" />
    <script type="text/javascript">
        $(function () {
            $("#Recipe_Name").autocomplete({
                source: "recipeNameAutocomplete",
                minLength: 3,
                select: function (event, ui) {
                    this.value = ui.item.label;
                    $("#Recipe_Id").val(ui.item.value);
                    return false;
                },
            });
        });
        $(function () {
            $(".Meal").autocomplete({
                source: "recipeNameAutocomplete",
                minLength: 3,
                select: function (event, ui) {
                    this.value = ui.item.label;
                    $("#Recipe_Id").val(ui.item.value);
                    var recipeId = ui.item.value;
                    var mealId = $(this).attr('id');
                    saveMealItem(recipeId,mealId, this.value);
                    return false;
                },
            });
        });

        function saveMealItem(recipeId,mealId, recipeName){
            $.ajax({
                type: "POST",
                url: "/saveMeal",
                data:{"recipeId":recipeId,"mealId":mealId, "recipeName":recipeName}
            });
        }
    </script>
</head>
<body>
<div th:replace="fragments/topnav :: navbar"></div>
<p th:text="${mealItem}" />
<form style=" margin-left: 5px;" action="#" >
    <div id="mealPlan">
        <table class="table table-sm">
            <thead>
            <tr style="line-height: 60px">
                <th scope="col"></th>
                <th scope="col">Monday</th>
                <th scope="col">Tuesday</th>
                <th scope="col">Wednesday</th>
                <th scope="col">Thursday</th>
                <th scope="col">Friday</th>
                <th scope="col">Saturday</th>
                <th scope="col">Sunday</th>
            </tr>
            </thead>
            <tbody>
            <tr class="table-success" style="line-height: 60px">
                <th scope="row">Breakfast</th>
                <td>
                    <div class="mealrow form-group row">
                        <div class="col-xs-3">
                            <input
                                    class="Meal form-control mr-sm-2"
                                    type="search"
                                    aria-label="Search"
                                    name="searchTerm"
                                    id=11
                                    th:value="${Meal11}"
                            />
                        </div>
                    </div>
                </td>
                <td>
                    <div class="mealrow form-group row">
                        <div class="col-xs-3">
                            <input
                                    class="Meal form-control mr-sm-2"
                                    type="search"
                                    aria-label="Search"
                                    name="searchTerm"
                                    id=21
                                    th:value="${Meal21}"
                            />
                        </div>
                    </div>
                </td>
                <td>
                    <div class="mealrow form-group row">
                        <div class="col-xs-3">
                            <input
                                    class="Meal form-control mr-sm-2"
                                    type="search"
                                    aria-label="Search"
                                    name="searchTerm"
                                    id=31
                                    th:value="${Meal31}"
                            />
                        </div>
                    </div>
                </td>
                <td>
                    <div class="mealrow form-group row">
                        <div class="col-xs-3">
                            <input
                                    class="Meal form-control mr-sm-2"
                                    type="search"
                                    aria-label="Search"
                                    name="searchTerm"
                                    id=41
                                    th:value="${Meal41}"
                            />
                        </div>
                    </div>
                </td>
                <td>
                    <div class="mealrow form-group row">
                        <div class="col-xs-3">
                            <input
                                    class="Meal form-control mr-sm-2"
                                    type="search"
                                    aria-label="Search"
                                    name="searchTerm"
                                    id=51
                                    th:value="${Meal51}"
                            />
                        </div>
                    </div>
                </td>
                <td>
                    <div class="mealrow form-group row">
                        <div class="col-xs-3">
                            <input
                                    class="Meal form-control mr-sm-2"
                                    type="search"
                                    aria-label="Search"
                                    name="searchTerm"
                                    id=61
                                    th:value="${Meal61}"
                            />
                        </div>
                    </div>
                </td>
                <td>
                    <div class="mealrow form-group row">
                        <div class="col-xs-3">
                            <input
                                    class="Meal form-control mr-sm-2"
                                    type="search"
                                    aria-label="Search"
                                    name="searchTerm"
                                    id=71
                                    th:value="${Meal71}"
                            />
                        </div>
                    </div>
                </td>
            </tr>
            <tr>
                <th scope="row">Snack</th>
                <td>
                    <div class="mealrow form-group row">
                        <div class="col-xs-3">
                            <input
                                    class="Meal form-control mr-sm-2"
                                    type="search"
                                    aria-label="Search"
                                    name="searchTerm"
                                    id=12
                                    th:value="${Meal12}"
                            />
                        </div>
                    </div>
                </td>
                <td>
                    <div class="mealrow form-group row">
                        <div class="col-xs-3">
                            <input
                                    class="Meal form-control mr-sm-2"
                                    type="search"
                                    aria-label="Search"
                                    name="searchTerm"
                                    id=22
                                    th:value="${Meal22}"
                            />
                        </div>
                    </div>
                </td>
                <td>
                    <div class="mealrow form-group row">
                        <div class="col-xs-3">
                            <input
                                    class="Meal form-control mr-sm-2"
                                    type="search"
                                    aria-label="Search"
                                    name="searchTerm"
                                    id=32
                                    th:value="${Meal32}"
                            />
                        </div>
                    </div>
                </td>
                <td>
                    <div class="mealrow form-group row">
                        <div class="col-xs-3">
                            <input
                                    class="Meal form-control mr-sm-2"
                                    type="search"
                                    aria-label="Search"
                                    name="searchTerm"
                                    id=42
                                    th:value="${Meal42}"
                            />
                        </div>
                    </div>
                </td>
                <td>
                    <div class="mealrow form-group row">
                        <div class="col-xs-3">
                            <input
                                    class="Meal form-control mr-sm-2"
                                    type="search"
                                    aria-label="Search"
                                    name="searchTerm"
                                    id=52
                                    th:value="${Meal52}"
                            />
                        </div>
                    </div>
                </td>
                <td>
                    <div class="mealrow form-group row">
                        <div class="col-xs-3">
                            <input
                                    class="Meal form-control mr-sm-2"
                                    type="search"
                                    aria-label="Search"
                                    name="searchTerm"
                                    id=62
                                    th:value="${Meal62}"
                            />
                        </div>
                    </div>
                </td>
                <td>
                    <div class="mealrow form-group row">
                        <div class="col-xs-3">
                            <input
                                    class="Meal form-control mr-sm-2"
                                    type="search"
                                    aria-label="Search"
                                    name="searchTerm"
                                    id=72
                                    th:value="${Meal72}"
                            />
                        </div>
                    </div>
                </td>
            </tr>
            <tr class="table-success" style="line-height: 60px">
                <th scope="row">Lunch</th>
                <td>
                    <div class="mealrow form-group row">
                        <div class="col-xs-3">
                            <input
                                    class="Meal form-control mr-sm-2"
                                    type="search"
                                    aria-label="Search"
                                    name="searchTerm"
                                    id=13
                                    th:value="${Meal13}"
                            />
                        </div>
                    </div>
                </td>
                <td>
                    <div class="mealrow form-group row">
                        <div class="col-xs-3">
                            <input
                                    class="Meal form-control mr-sm-2"
                                    type="search"
                                    aria-label="Search"
                                    name="searchTerm"
                                    id=23
                                    th:value="${Meal23}"
                            />
                        </div>
                    </div>
                </td>
                <td>
                    <div class="mealrow form-group row">
                        <div class="col-xs-3">
                            <input
                                    class="Meal form-control mr-sm-2"
                                    type="search"
                                    aria-label="Search"
                                    name="searchTerm"
                                    id=33
                                    th:value="${Meal33}"
                            />
                        </div>
                    </div>
                </td>
                <td>
                    <div class="mealrow form-group row">
                        <div class="col-xs-3">
                            <input
                                    class="Meal form-control mr-sm-2"
                                    type="search"
                                    aria-label="Search"
                                    name="searchTerm"
                                    id=43
                                    th:value="${Meal43}"
                            />
                        </div>
                    </div>
                </td>
                <td>
                    <div class="mealrow form-group row">
                        <div class="col-xs-3">
                            <input
                                    class="Meal form-control mr-sm-2"
                                    type="search"
                                    aria-label="Search"
                                    name="searchTerm"
                                    id=53
                                    th:value="${Meal53}"
                            />
                        </div>
                    </div>
                </td>
                <td>
                    <div class="mealrow form-group row">
                        <div class="col-xs-3">
                            <input
                                    class="Meal form-control mr-sm-2"
                                    type="search"
                                    aria-label="Search"
                                    name="searchTerm"
                                    id=63
                                    th:value="${Meal63}"
                            />
                        </div>
                    </div>
                </td>
                <td>
                    <div class="mealrow form-group row">
                        <div class="col-xs-3">
                            <input
                                    class="Meal form-control mr-sm-2"
                                    type="search"
                                    aria-label="Search"
                                    name="searchTerm"
                                    id=73
                                    th:value="${Meal73}"
                            />
                        </div>
                    </div>
                </td>
            </tr>
            <tr style="line-height: 60px">
                <th scope="row">Snack</th>
                <td>
                    <div class="mealrow form-group row">
                        <div class="col-xs-3">
                            <input
                                    class="Meal form-control mr-sm-2"
                                    type="search"
                                    aria-label="Search"
                                    name="searchTerm"
                                    id=14
                                    th:value="${Meal14}"
                            />
                        </div>
                    </div>
                </td>
                <td>
                    <div class="mealrow form-group row">
                        <div class="col-xs-3">
                            <input
                                    class="Meal form-control mr-sm-2"
                                    type="search"
                                    aria-label="Search"
                                    name="searchTerm"
                                    id=24
                                    th:value="${Meal24}"
                            />
                        </div>
                    </div>
                </td>
                <td>
                    <div class="mealrow form-group row">
                        <div class="col-xs-3">
                            <input
                                    class="Meal form-control mr-sm-2"
                                    type="search"
                                    aria-label="Search"
                                    name="searchTerm"
                                    id=34
                                    th:value="${Meal34}"
                            />
                        </div>
                    </div>
                </td>
                <td>
                    <div class="mealrow form-group row">
                        <div class="col-xs-3">
                            <input
                                    class="Meal form-control mr-sm-2"
                                    type="search"
                                    aria-label="Search"
                                    name="searchTerm"
                                    id=44
                                    th:value="${Meal44}"
                            />
                        </div>
                    </div>
                </td>
                <td>
                    <div class="mealrow form-group row">
                        <div class="col-xs-3">
                            <input
                                    class="Meal form-control mr-sm-2"
                                    type="search"
                                    aria-label="Search"
                                    name="searchTerm"
                                    id=54
                                    th:value="${Meal54}"
                            />
                        </div>
                    </div>
                </td>
                <td>
                    <div class="mealrow form-group row">
                        <div class="col-xs-3">
                            <input
                                    class="Meal form-control mr-sm-2"
                                    type="search"
                                    aria-label="Search"
                                    name="searchTerm"
                                    id=64
                                    th:value="${Meal64}"
                            />
                        </div>
                    </div>
                </td>
                <td>
                    <div class="mealrow form-group row">
                        <div class="col-xs-3">
                            <input
                                    class="Meal form-control mr-sm-2"
                                    type="search"
                                    aria-label="Search"
                                    name="searchTerm"
                                    id=74
                                    th:value="${Meal74}"
                            />
                        </div>
                    </div>
                </td>
            </tr>
            <tr class="table-success" style="line-height: 60px">
                <th scope="row">Dinner</th>
                <td>
                    <div class="mealrow form-group row">
                        <div class="col-xs-3">
                            <input
                                    class="Meal form-control mr-sm-2"
                                    type="search"
                                    aria-label="Search"
                                    name="searchTerm"
                                    id=15
                                    th:value="${Meal15}"
                            />
                        </div>
                    </div>
                </td>
                <td>
                    <div class="mealrow form-group row">
                        <div class="col-xs-3">
                            <input
                                    class="Meal form-control mr-sm-2"
                                    type="search"
                                    aria-label="Search"
                                    name="searchTerm"
                                    id=25
                                    th:value="${Meal25}"
                            />
                        </div>
                    </div>
                </td>
                <td>
                    <div class="mealrow form-group row">
                        <div class="col-xs-3">
                            <input
                                    class="Meal form-control mr-sm-2"
                                    type="search"
                                    aria-label="Search"
                                    name="searchTerm"
                                    id=35
                                    th:value="${Meal35}"
                            />
                        </div>
                    </div>
                </td>
                <td>
                    <div class="mealrow form-group row">
                        <div class="col-xs-3">
                            <input
                                    class="Meal form-control mr-sm-2"
                                    type="search"
                                    aria-label="Search"
                                    name="searchTerm"
                                    id=45
                                    th:value="${Meal45}"
                            />
                        </div>
                    </div>
                </td>
                <td>
                    <div class="mealrow form-group row">
                        <div class="col-xs-3">
                            <input
                                    class="Meal form-control mr-sm-2"
                                    type="search"
                                    aria-label="Search"
                                    name="searchTerm"
                                    id=55
                                    th:value="${Meal55}"
                            />
                        </div>
                    </div>
                </td>
                <td>
                    <div class="mealrow form-group row">
                        <div class="col-xs-3">
                            <input
                                    class="Meal form-control mr-sm-2"
                                    type="search"
                                    aria-label="Search"
                                    name="searchTerm"
                                    id=65
                                    th:value="${Meal65}"
                            />
                        </div>
                    </div>
                </td>
                <td>
                    <div class="mealrow form-group row">
                        <div class="col-xs-3">
                            <input
                                    class="Meal form-control mr-sm-2"
                                    type="search"
                                    aria-label="Search"
                                    name="searchTerm"
                                    id=75
                                    th:value="${Meal75}"
                            />
                        </div>
                    </div>
                </td>
            </tr>
            <tr style="line-height: 60px">
                <th scope="row">Total Calories</th>
                <td><p th:text="${MondayCals}" /></td>
                <td><p th:text="${TuesdayCals}" /></td>
                <td><p th:text="${WednesdayCals}" /></td>
                <td><p th:text="${ThursdayCals}" /></td>
                <td><p th:text="${FridayCals}" /></td>
                <td><p th:text="${SaturdayCals}" /></td>
                <td><p th:text="${SundayCals}" /></td>
            </tr>
            </tbody>
        </table>
    </div>
    <input
            class="form-control mr-sm-2"
            type="hidden"
            placeholder="Search a meal ..."
            aria-label="Search"
            id="Recipe_Id"
    />
</form>
</body>
</html>